.body {
    background-color: rgb(40, 38, 38);
    padding-bottom: 10%;
    scroll-behavior: smooth;
}

.brand {
    padding-top: 2.5%;
    padding-left: 3.5%;
}

.text_FAIRWIN {
    color: rgb(255, 255, 255);
    font-size: 220%;
    font-family: Gill Sans, sans-serif;
}

.text_FAIRWIN:hover {
    color: rgb(236, 31, 12);
    font-size: 220%;
    font-family: Gill Sans, sans-serif;
}

.bengal {
    vertical-align: text-top;
    filter: invert(100%);
}

.text_question {
    color: rgb(255, 255, 255);
    font-family: Gill Sans, sans-serif;
    text-align: center;
    font-size: 200%;
}

.text_stateName {
    color: rgb(236, 31, 12);
    font-size: 900%;
    font-family: Gill Sans, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    margin-top: 3%;
}

.map {
    width: 65%;
    height: 65%;
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 3%;
}

path {
    pointer-events: all;

    &:hover {
        cursor: pointer;
        fill: rgb(236, 31, 12);
    }
}

.dataExplaination {
    margin-left: 3%;
}

.body1 {
    background-color: rgb(241, 243, 243);
    padding-bottom: 10%;
}


.text_Available_State {
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-family: Gill Sans, sans-serif;
}

.text_subQuestion {
    color: rgb(40, 38, 38);
    font-family: Tahoma;
    font-size: 250%;
    width: 60%;
    font-weight: bold;
    padding-left: 8%;
    padding-top: 8%;
}

.text_subQuestion2 {
    color: rgb(236, 31, 12);
    font-family: Tahoma;
    font-size: 250%;
    font-weight: bold;
    padding-left: 8%;
    padding-top: 8%;
    line-height: 25px;
}

.alert_dataInformation {
    margin-left: 10%;
    margin-right: 10%;
}

.navbar_race {
    margin-left: 10%;
    margin-right: 10%;
}

.text_navElement {
    color: rgb(40, 38, 38);
    font-weight: bold;

    &:hover {
        cursor: pointer;
        color: rgb(236, 31, 12);
    }

    &:active {
        font-weight: bold;
    }
}

.graph1 {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding-bottom: 20%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.body2 {
    background-color: rgb(236, 31, 12);
    padding-bottom: 10%;
}

.text_summary {
    color: rgb(0, 0, 0);
    font-family: Tahoma;
    font-size: 250%;
    font-weight: bold;
    padding-left: 8%;
    padding-top: 8%;
    line-height: 25px;
}

.table {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.table_th0 {
    text-align: center;
    width: 20%;
}

.table_th {
    text-align: center;
}